.edit-create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    column-gap: 2%;
    border: 2px solid black;
}
.edit-create-row {
    display: flex;
    flex-direction: row;
}
.edit-create-submit {
    width: 96px;
    height: 96px;
}
.edit-create-submit img {
    width: 90%;
}
.edit-create-form{
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}


.edit-create-inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.edit-create-cost {
    width: 15%;
}